#ressss {
    border: 1px solid red;
    height: 100px;
    /*left: 50px;*/
    line-height: 100px;
    position: relative;
    text-align: center;
    /*top: 50px;*/
    width: 100px;
}

html,body {
    margin: 0;
    height: 100%;
}